<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/animate.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/chosen.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/pe-icon-7-stroke.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/jquery.scrollbar.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/lightbox.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/magnific-popup.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/fonts/flaticon.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/megamenu.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/dreaming-attribute.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
    <title>Home</title>
</head>
<body>
  <%- include('header'); -%>
<div class="fullwidth-template">
    <div class="slide-home-01">
        <div class="response-product product-list-owl owl-slick equal-container better-height"
             data-slick="{&quot;arrows&quot;:false,&quot;slidesMargin&quot;:0,&quot;dots&quot;:true,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:1,&quot;rows&quot;:1}"
             data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}}]">
            <div class="slide-wrap">
                <img src="/assets/images/slide11.jpg" alt="image">
                <div class="slide-info">
                    <div class="container">
                        <div class="slide-inner">
                            <h5>Limited Colletion</h5>
                            <h1>Graceful</h1>
                            <h2>& Unique</h2>
                            <a href="/shop/rings">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-wrap">
                <img src="/assets/images/slide12.jpg" alt="image">
                <div class="slide-info">
                    <div class="container">
                        <div class="slide-inner">
                            <h5>Best Selling</h5>
                            <h1>Royal</h1>
                            <h2>& Dimond</h2>
                            <a href="/shop/rings">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-wrap">
                <img src="/assets/images/slide13.jpg" alt="image">
                <div class="slide-info">
                    <div class="container">
                        <div class="slide-inner">
                            <h5>This Week Only</h5>
                            <h1>Modern</h1>
                            <h2>The Look</h2>
                            <a href="/shop/rings">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-003 section-002">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="kaycee-banner style-01 left-center">
                        <div class="banner-inner">
                            <figure class="banner-thumb">
                                <img src="/assets/images/banner11.jpg"
                                     class="attachment-full size-full" alt="img"></figure>
                            <div class="banner-info ">
                                <div class="banner-content">
                                    <div class="title-wrap">
                                        <h6 class="title">
                                            <a target="_self" href="#">The Lookbook</a>
                                        </h6>
                                    </div>
                                    <div class="button-wrap">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="kaycee-banner style-01 right-top">
                        <div class="banner-inner">
                            <figure class="banner-thumb">
                                <img src="/assets/images/banner12.jpg"
                                     class="attachment-full size-full" alt="img"></figure>
                            <div class="banner-info ">
                                <div class="banner-content">
                                    <div class="title-wrap">
                                        <h6 class="title">
                                            <a target="_self" href="#">High Quality</a>
                                        </h6>
                                    </div>
                                    <div class="button-wrap">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kaycee-banner style-01 left-bottom">
                        <div class="banner-inner">
                            <figure class="banner-thumb">
                                <img src="/assets/images/banner13.jpg"
                                     class="attachment-full size-full" alt="img"></figure>
                            <div class="banner-info ">
                                <div class="banner-content">
                                    <div class="title-wrap">
                                        <h6 class="title">
                                            <a target="_self" href="#">Fashion Set</a>
                                        </h6>
                                    </div>
                                    <div class="button-wrap">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-001">
        <div class="container">
            <div class="kaycee-heading style-01">
                <div class="heading-inner">
                    <h3 class="title">Best Seller<span></span></h3>
                    <div class="subtitle">Our products are perfect for every occasion
                    </div>
                </div>
            </div>
            <div class=" auto-clear kaycee-products">
                <ul class="row products columns-3">

                    <% bestSeller.map(item=>{ %>

                        <li class="product-item wow fadeInUp product-item rows-space-30 col-bg-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-ts-6 style-01 post-28 product type-product status-publish has-post-thumbnail product_cat-light product_cat-chair product_cat-sofas product_tag-light product_tag-sock  instock sale featured shipping-taxable purchasable product-type-simple"
                        data-wow-duration="1s" data-wow-delay="0ms" data-wow="fadeInUp">
                        <div class="product-inner tooltip-left">
                            <div class="product-thumb">
                                <a class="thumb-link" href="/product/<%= item._id %>">
                                    <img class="img-responsive"
                                         src="/assets/images/apro1211-2-600x778.jpg"
                                         alt="Gold Bracelet" width="600" height="778">
                                </a>
                                <!-- <div class="flash">
                                    <span class="onsale"><span class="number">-14%</span></span>
                                    <span class="onnew"><span class="text">New</span></span></div> -->
                                <div class="group-button">
                                    <div class="add-to-cart">
                                        <a href="/product/<%= item._id %>"  data-id="<%= item._id %>" class="button product_type_simple add_to_cart_button ">Add to
                                            cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-info equal-elem">
                                <h3 class="product-name product_title">
                                    <a href="#"><%= item.name %> <br> <strong><%= item.material %></strong></a>
                                </h3>
                                <span class="price"><del><span class="kaycee-Price-amount amount"><span
                                        class="kaycee-Price-currencySymbol">Rs</span><%= item.price %></span></del> <ins><span
                                        class="kaycee-Price-amount amount"><span
                                        class="kaycee-Price-currencySymbol">Rs</span><%= item.discountedPrice %></span></ins></span>
                                <div class="kaycee-product-details__short-description">
                                    <%- item.description %>
                                    
                                </div>
                            </div>
                            <div class="group-button">
                                <div class="group-button-inner">
                                    <div class="add-to-cart">
                                        <a href="/product/<%= item._id %>" class="button product_type_variable add_to_cart_button">Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                       
                    <% }) %>
                    
                    
                </ul>
            </div>
    <div class="section-045" style="margin-top: 16px ;" >
        <div class="container-fluid">
            <div class="kaycee-heading style-01">
                <div class="heading-inner">
                    <h3 class="title">Categories<span></span></h3>
                    <!-- <div class="subtitle">Our products are perfect for every occasion -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="kaycee-banner style-02">
                        <div class="banner-inner">
                            <figure class="banner-thumb">
                                <img src="/assets/images/banner101.jpg"
                                     class="attachment-full size-full" alt="img"></figure>
                            <div class="banner-info">
                                <div class="banner-content">
                                    <div class="title-wrap">
                                        <h6 class="title">
                                            <a target="_self" href="#">Jewellery</a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="kaycee-banner style-02">
                        <div class="banner-inner">
                            <figure class="banner-thumb">
                                <img src="/assets/images/banner102.jpg"
                                     class="attachment-full size-full" alt="img"></figure>
                            <div class="banner-info">
                                <div class="banner-content">
                                    <div class="title-wrap">
                                        <h6 class="title">
                                            <a target="_self" href="#">Crystals</a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="kaycee-banner style-02">
                        <div class="banner-inner">
                            <figure class="banner-thumb">
                                <img src="/assets/images/banner103.jpg"
                                     class="attachment-full size-full" alt="img"></figure>
                            <div class="banner-info">
                                <div class="banner-content">
                                    <div class="title-wrap">
                                        <h6 class="title">
                                            <a target="_self" href="#">Apothecary</a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="kaycee-banner style-02">
                        <div class="banner-inner">
                            <figure class="banner-thumb">
                                <img src="/assets/images/banner104.jpg"
                                     class="attachment-full size-full" alt="img"></figure>
                            <div class="banner-info">
                                <div class="banner-content">
                                    <div class="title-wrap">
                                        <h6 class="title">
                                            <a target="_self" href="#">Singing Bowls</a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="kaycee-banner style-02">
                        <div class="banner-inner">
                            <figure class="banner-thumb">
                                <img src="/assets/images/banner105.jpg"
                                     class="attachment-full size-full" alt="img"></figure>
                            <div class="banner-info">
                                <div class="banner-content">
                                    <div class="title-wrap">
                                        <h6 class="title">
                                            <a target="_self" href="#">Exclusive Premium Collection</a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="kaycee-banner style-02">
                        <div class="banner-inner">
                            <figure class="banner-thumb">
                                <img src="/assets/images/banner106.jpg"
                                     class="attachment-full size-full" alt="img"></figure>
                            <div class="banner-info">
                                <div class="banner-content">
                                    <div class="title-wrap">
                                        <h6 class="title">
                                            <a target="_self" href="#">For Men</a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-001 section-046">
        <div class="container">
            <div class="kaycee-heading style-01">
                <div class="heading-inner">
                    <h3 class="title">Other Products<span></span></h3>
                    <div class="subtitle">
                        Our products are perfect for every occasion.
                    </div>
                </div>
            </div>
            <div class="kaycee-products style-01">
                <div class="response-product product-list-owl owl-slick equal-container better-height"
                     data-slick="{&quot;arrows&quot;:true,&quot;slidesMargin&quot;:30,&quot;dots&quot;:true,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:4,&quot;rows&quot;:1}"
                     data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesMargin&quot;:&quot;30&quot;}}]">
                    

                    <% products.map( item=>{ %>
                    <div class="product-item recent-product style-01 rows-space-0 post-93 product type-product status-publish has-post-thumbnail product_cat-light product_cat-table product_cat-new-arrivals product_tag-table product_tag-sock first instock shipping-taxable purchasable product-type-simple  ">
                        <div class="product-inner tooltip-left">
                            <div class="product-thumb">
                                <a class="thumb-link"
                                   href="/product/<%= item._id %>" tabindex="0">
                                    <img class="img-responsive"
                                         src="/assets/images/apro13-1-270x350.jpg"
                                         alt="Stud Earrings" width="270" height="350">
                                </a>
                                
                                <div class="group-button">
                                    
                                    
                                    <div class="add-to-cart">
                                        <a href="/product/<%= item._id %>" data-id="<%= item._id %>" class="button product_type_simple add_to_cart_button">Add to
                                            cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-info equal-elem">
                                <h3 class="product-name product_title">
                                    <a href="#"
                                       tabindex="0"><%= item.name %></a>
                                </h3>
                                
                                <span class="price"><span class="kaycee-Price-amount amount"><span
                                        class="kaycee-Price-currencySymbol">Rs</span><%= item.discountedPrice %></span></span>
                            </div>
                        </div>
                    </div>
                    <%}) %>
                    
                    
                </div>
            </div>
        </div>
    </div>
    <div class="section-038">
        <div class="kaycee-banner style-07 left-center">
            <div class="banner-inner">
                <figure class="banner-thumb">
                    <img src="/assets/images/banner28.jpg"
                         class="attachment-full size-full" alt="img"></figure>
                <div class="banner-info container">
                    <div class="banner-content">
                        <div class="title-wrap">
                            <div class="banner-label">
                                30 Nov - 03 Dec
                            </div>
                            <h6 class="title">
                                New Collection </h6>
                        </div>
                        <div class="cate">
                            50% Off / Selected items
                        </div>
                        <div class="button-wrap">
                            <div class="subtitle">
                                Mus venenatis habitasse leo malesuada lacus commodo
                            </div>
                            <a class="button" target="_self" href="#"><span>Shop now</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <div class="section-014" style="margin-top: 32px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="kaycee-iconbox style-02">
                        <div class="iconbox-inner">
                            <div class="icon">
                                <span class="flaticon-startup"></span>
                            </div>
                            <div class="content">
                                <h4 class="title">Worldwide Delivery</h4>
                                <div class="desc">With sites in 5 languages, ship to over 200 countries
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="kaycee-iconbox style-02">
                        <div class="iconbox-inner">
                            <div class="icon">
                                <span class="flaticon-padlock"></span>
                            </div>
                            <div class="content">
                                <h4 class="title">Safe Shipping</h4>
                                <div class="desc">Pay with the world’s most popular and secure payment methods.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="kaycee-iconbox style-02">
                        <div class="iconbox-inner">
                            <div class="icon">
                                <span class="flaticon-return-1"></span>
                            </div>
                            <div class="content">
                                <h4 class="title">365 Days Return</h4>
                                <div class="desc">Round-the-clock assistance for a smooth shopping experience.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="kaycee-iconbox style-02">
                        <div class="iconbox-inner">
                            <div class="icon">
                                <span class="flaticon-diamond-1"></span>
                            </div>
                            <div class="content">
                                <h4 class="title">Shop Confidence</h4>
                                <div class="desc">Our Buyer Protection covers your purchase from click to delivery.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-008">
        <div class="kaycee-instagram style-01">
            <div class="instagram-owl owl-slick"
                 data-slick="{&quot;arrows&quot;:false,&quot;slidesMargin&quot;:15,&quot;dots&quot;:false,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:5,&quot;rows&quot;:1}"
                 data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesMargin&quot;:&quot;15&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesMargin&quot;:&quot;15&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:5,&quot;slidesMargin&quot;:&quot;15&quot;}}]">
                <div class="rows-space-0">
                    <a target="_blank" href="#" class="item"
                       tabindex="0">
                        <img class="img-responsive lazy" src="/assets/images/insta1.jpg" alt="Home 01">
                        <span class="instagram-info">
                                 <span class="social-wrap">
                                    <span class="social-info">1
                                        <i class="pe-7s-chat"></i>
                                    </span>
                                    <span class="social-info">0
                                        <i class="pe-7s-like2"></i>
                                    </span>
                                </span>
                            </span>
                    </a>
                </div>
                <div class="rows-space-0">
                    <a target="_blank" href="#" class="item" tabindex="0">
                        <img class="img-responsive lazy" src="/assets/images/insta2.jpg" alt="Home 01">
                        <span class="instagram-info">
                                         <span class="social-wrap">
                                            <span class="social-info">0
                                                <i class="pe-7s-chat"></i>
                                            </span>
                                            <span class="social-info">0
                                                <i class="pe-7s-like2"></i>
                                            </span>
                                        </span>
                                    </span>
                    </a>
                </div>
                <div class="rows-space-0">
                    <a target="_blank" href="#" class="item"
                       tabindex="0">
                        <img class="img-responsive lazy" src="/assets/images/insta3.jpg" alt="Home 01">
                        <span class="instagram-info">
                                         <span class="social-wrap">
                                            <span class="social-info">0
                                                <i class="pe-7s-chat"></i>
                                            </span>
                                            <span class="social-info">0
                                                <i class="pe-7s-like2"></i>
                                            </span>
                                        </span>
                                    </span>
                    </a>
                </div>
                <div class="rows-space-0">
                    <a target="_blank" href="#" class="item" tabindex="0">
                        <img class="img-responsive lazy" src="/assets/images/insta4.jpg" alt="Home 01">
                        <span class="instagram-info">
                                         <span class="social-wrap">
                                            <span class="social-info">0
                                                <i class="pe-7s-chat"></i>
                                            </span>
                                            <span class="social-info">0
                                                <i class="pe-7s-like2"></i>
                                            </span>
                                        </span>
                                    </span>
                    </a>
                </div>
                <div class="rows-space-0">
                    <a target="_blank" href="#" class="item" tabindex="0">
                        <img class="img-responsive lazy" src="/assets/images/insta5.jpg" alt="Home 01">
                        <span class="instagram-info">
                                         <span class="social-wrap">
                                            <span class="social-info">0
                                                <i class="pe-7s-chat"></i>
                                            </span>
                                            <span class="social-info">0
                                                <i class="pe-7s-like2"></i>
                                            </span>
                                        </span>
                                    </span>
                    </a>
                </div>
                <div class="rows-space-0">
                    <a target="_blank" href="#" class="item"
                       tabindex="-1">
                        <img class="img-responsive lazy" src="/assets/images/insta6.jpg" alt="Home 01">
                        <span class="instagram-info">
                                         <span class="social-wrap">
                                            <span class="social-info">0
                                                <i class="pe-7s-chat"></i>
                                            </span>
                                            <span class="social-info">0
                                                <i class="pe-7s-like2"></i>
                                            </span>
                                        </span>
                                    </span>
                    </a>
                </div>
                <div class="rows-space-0">
                    <a target="_blank" href="#" class="item"
                       tabindex="-1">
                        <img class="img-responsive lazy" src="/assets/images/insta7.jpg" alt="Home 01">
                        <span class="instagram-info">
                                         <span class="social-wrap">
                                            <span class="social-info">0
                                                <i class="pe-7s-chat"></i>
                                            </span>
                                            <span class="social-info">0
                                                <i class="pe-7s-like2"></i>
                                            </span>
                                        </span>
                                    </span>
                    </a>
                </div>
                <div class="rows-space-0">
                    <a target="_blank" href="#" class="item"
                       tabindex="-1">
                        <img class="img-responsive lazy" src="/assets/images/insta8.jpg" alt="Home 01">
                        <span class="instagram-info">
                                     <span class="social-wrap">
                                        <span class="social-info">0
                                            <i class="pe-7s-chat"></i>
                                        </span>
                                        <span class="social-info">0
                                            <i class="pe-7s-like2"></i>
                                        </span>
                                    </span>
                                </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('footer'); -%>
<a href="#" class="backtotop active">
    <i class="flaticon-right-arrow"></i>
</a>
<script src="/assets/js/jquery-1.12.4.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/chosen.min.js"></script>
<script src="/assets/js/countdown.min.js"></script>
<script src="/assets/js/jquery.scrollbar.min.js"></script>
<script src="/assets/js/lightbox.min.js"></script>
<script src="/assets/js/magnific-popup.min.js"></script>
<script src="/assets/js/slick.js"></script>
<script src="/assets/js/jquery.zoom.min.js"></script>
<script src="/assets/js/threesixty.min.js"></script>
<script src="/assets/js/jquery-ui.min.js"></script>
<script src="/assets/js/mobilemenu.js"></script>
<script src="/assets/js/functions.js"></script>
<script>
    // $(document).ready(function() {
           
        
    //         $('.addToCart').click(function(event){
    //             event.preventDefault();
    //             // console.log($(this).attr("data-id"))
    //             $.ajax({
    //                 type: "POST",
    //                 url: window.location.origin + "/api/add-to-cart",
    //                 data: {productId:$(this).attr("data-id")},
    //                 success: ()=>{
    //                     // alert($(this).attr("data-id"))
    //                     location.reload();
    //                 },
    //                 });
    //         })
    //     });
    
    

</script>
</body>

</html>