<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/animate.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/chosen.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/pe-icon-7-stroke.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/jquery.scrollbar.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/lightbox.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/magnific-popup.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/fonts/flaticon.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/megamenu.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/dreaming-attribute.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
    <title>Product</title>
    <!-- <style>
        #header{
            margin-bottom: 120px;
        }
    </style> -->
</head>
<body class="single single-product">
    <%- include('header'); -%>
    <div class="banner-wrapper no_background" style="padding-top: 60px;">
        <div class="banner-wrapper-inner">
            <nav class="kaycee-breadcrumb"><a href="/">Home</a><i class="fa fa-angle-right"></i><a href="#">Shop</a>
                <i class="fa fa-angle-right"></i><%= product.name %>
            </nav>
        </div>
    </div>
<div class="single-thumb-vertical main-container shop-page no-sidebar" >
    <div class="container" >
        <div class="row">
            <div class="main-content col-md-12">
                <div class="kaycee-notices-wrapper"></div>
                <div id="product-27"
                     class="post-27 product type-product status-publish has-post-thumbnail product_cat-table product_cat-new-arrivals product_cat-lamp product_tag-table product_tag-sock first instock shipping-taxable purchasable product-type-variable has-default-attributes">
                    <div class="main-contain-summary">
                        <div class="contain-left has-gallery">
                            <div class="single-left">
                                <div class="kaycee-product-gallery kaycee-product-gallery--with-images kaycee-product-gallery--columns-4 images">
                                    <!-- <a href="#" class="kaycee-product-gallery__trigger">
                                        <img draggable="false" class="emoji" alt="ðŸ”"
                                             src="https://s.w.org/images/core/emoji/11/svg/1f50d.svg"></a> -->
                                    <div class="flex-viewport">
                                        <figure class="kaycee-product-gallery__wrapper">
                                            <% product.images.map((image)=>{ %>
                                                   <div class="kaycee-product-gallery__image">
                                                <img alt="img"
                                                     src="<%= image %>">
                                            </div> 
                                          <%  }) %>
                                            
                                            
                                            
                                        </figure>
                                    </div>
                                    <ol class="flex-control-nav flex-control-thumbs">
                                        <% product.images.map((image)=>{ %>

                                            <li><img
                                                src="<%= image %>"
                                                alt="img">
                                        </li>

                                            <%  }) %>

                                        
                                        
                                    </ol>
                                </div>
                            </div>
                            <div class="summary entry-summary">
                                <div class="flash">
                                    <span class="onnew"><span class="text">New</span></span></div>
                                <h1 class="product_title entry-title"><%= product.name %></h1>
                                <% if(product.discountedPrice!= null){ %>
                                <p class="price">
                                    <del><span class="kaycee-Price-amount amount"><span class="kaycee-Price-currencySymbol">Rs</span><%= product.price %></span></del>
                                    <ins><span class="kaycee-Price-amount amount"><span class="kaycee-Price-currencySymbol">Rs</span><%= product.discountedPrice %></span></ins>
                                </p>
                                <% } else { %>
                                    <p class="price">
                                        <ins><span class="kaycee-Price-amount amount"><span class="kaycee-Price-currencySymbol">Rs</span><%= product.price %></span></ins>
                                    </p>
                                    <% } %>
                                <p class="stock in-stock">
                                    Availability: <span><%= product.isAvailable?" In stock": "Out of Stock" %></span>
                                </p>
                                <div class="kaycee-product-details__short-description">
                                    <p><%- product.description %></p>
                                    <!-- <ul>
                                        <li>Water-resistant fabric with soft lycra detailing inside</li>
                                        <li>CLean zip-front, and three piece hood</li>
                                        <li>Subtle branding and diagonal panel detail</li>
                                    </ul> -->
                                </div>
                                
                                <form  class="variations_form cart">
                                    
                                    
                                    <% if (product.category == "bracelets") { %>
                                        <label for="">Size (in cms)</label>
                                    &nbsp
                                    <label>
                                        <input class="size-input" type="text" name="size" id="" style="width: 50%;">
                                    </label>
                                     
                                    <% }else{ %>

                                        <input class="size-input" type="text" name="size" id="" value="0" style="display: none;">


                                        <% } %>

                                    <!-- &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp; -->
                                    <br>
                                    <% if (product.charms && product.charms.length>0) { %>
                                    <label for="">Charm Options</label>
                                    &nbsp;
                                   
                                    <label>
                                        <select class="option-perpage charm-input" name="charm">
                                            <% product.charms.map(charm=>{ %>
                                            <option value="<%= charm %>" selected="">
                                                <%= charm %>
                                            </option>
                                        <% }) %>
                                        </select>
                                    </label>
                                    <br><br>
                                        <% } %>
                                    <div class="single_variation_wrap">
                                        <div class="kaycee-variation single_variation"></div>
                                        <div class="kaycee-variation-add-to-cart variations_button ">
                                            <button type="submit" data-id="<%= product._id %>" data-price="<%= product.discountedPrice%>" data-name="<%= product.name %>"
                                                    class="single_add_to_cart_button button alt kaycee-variation-selection-needed addToCart">
                                                Add to cart
                                            </button>
                                            <input name="add-to-cart" value="27" type="hidden">
                                            <input name="product_id" value="27" type="hidden">
                                            <input name="variation_id" class="variation_id" value="0" type="hidden">
                                        </div>
                                    </div>
                                </form>
                                
                                <div class="kaycee-share-socials">
                                    <h5 class="social-heading">Share: </h5>
                                    <a target="_blank" class="facebook" href="#">
                                        <i class="fa fa-facebook-f"></i>
                                    </a>
                                    <a target="_blank" class="twitter"
                                       href="#"><i class="fa fa-twitter"></i>
                                    </a>
                                    <a target="_blank" class="pinterest"
                                       href="#"> <i class="fa fa-pinterest"></i>
                                    </a>
                                    <a target="_blank" class="googleplus"
                                       href="#"><i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kaycee-tabs kaycee-tabs-wrapper">
                        <ul class="tabs dreaming-tabs" role="tablist">
                            <li class="description_tab active" id="tab-title-description" role="tab"
                                aria-controls="tab-description">
                                <a href="#tab-description">More Info</a>
                            </li>
                            
                            <!-- <li class="reviews_tab" id="tab-title-reviews" role="tab" aria-controls="tab-reviews">
                                <a href="#tab-reviews">Reviews (0)</a>
                            </li> -->
                        </ul>
                        <div class="kaycee-Tabs-panel kaycee-Tabs-panel--description panel entry-content kaycee-tab"
                             id="tab-description" role="tabpanel" aria-labelledby="tab-title-description">
                            <h2>Description</h2>
                            <div class="container-table">
                                <div class="container-cell">
                                    <h2 class="az_custom_heading">Unwavering Trust in Every Gem <br> at MyssticByArzoo

                                    </h2>
                                    <p>At MyssticByArzoo, we understand that jewelry is not just an accessory but a personal statement of style and identity. That's why we are committed to providing only the most authentic and high-quality pieces. Each item in our collection is crafted with precision and care, ensuring that you receive products that are not only beautiful but also meet the highest standards of integrity and craftsmanship. Trust MyssticByArzoo to add a touch of genuine elegance to your every day.</p>
                                </div>
                                <div class="container-cell">
                                    <div class="az_single_image-wrapper az_box_border_grey">
                                        <img src="/assets/images/single-pro1.jpg"
                                             class="az_single_image-img attachment-full" alt="img"></div>
                                </div>
                            </div>
                            <div class="container-table">
                                <div class="container-cell">
                                    <div class="az_single_image-wrapper az_box_border_grey">
                                        <img src="/assets/images/single-pro2.jpg"
                                            class="az_single_image-img attachment-full" alt="img"></div>
                                </div>
                                <div class="container-cell">
                                    <h2 class="az_custom_heading">
                                        Jewelry Care Guidelines

</h2>
                                    <p>Each piece of our jewelry at MyssticByArzoo is crafted with meticulous attention to detail and requires careful handling. To ensure your jewelry maintains its luster and integrity, avoid exposing it to water and direct contact with lotions and perfumes. For storage, we provide a special zip-lock bag designed to protect your jewelry from air and moisture, preventing tarnish and ensuring it remains pristine for years to come.</p>
                                </div>
                            </div>
                        </div>
                        
                       
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 dreaming_related-product">
                <div class="block-title">
                    <h2 class="product-grid-title">
                        Related Products
                        <span></span>
                    </h2>
                </div>
                <div class=" equal-container better-height">
                     
                     <% relatedProducts.map(item=>{ %>

                        <div class="product-item wow fadeInUp product-item rows-space-30 col-bg-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-ts-6 style-01 post-28 product type-product status-publish has-post-thumbnail product_cat-light product_cat-chair product_cat-sofas product_tag-light product_tag-sock  instock sale featured shipping-taxable purchasable product-type-simple"
                        data-wow-duration="1s" data-wow-delay="0ms" data-wow="fadeInUp">
                        <div class="product-inner tooltip-left">
                            <div class="product-thumb">
                                <a class="thumb-link" href="/product/<%= item._id %>">
                                    <img class="img-responsive"
                                         src="<%= item.images[0] %>"
                                         style="width: 255px; height: 255px;">
                                </a>
                                <div class="flash">
                                    <% if (item.charms && item.charms.length>0) { %>
                                        <span class="onsale"><span class="text">With Charm</span></span>
                                        <% } %>
                                </div>
                                <div class="group-button">
                                    <div class="add-to-cart">
                                        <a href="#"  data-id="<%= item._id %>" class="button product_type_simple add_to_cart_button ">Add to cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-info equal-elem">
                                <h3 class="product-name product_title">
                                    <a href="#"><%= item.name %> <br> <strong><%= item.material %></strong></a>
                                </h3>
                                <span class="price"><del><span class="kaycee-Price-amount amount"><span
                                        class="kaycee-Price-currencySymbol">Rs</span><%= item.price %></span></del> <ins><span
                                        class="kaycee-Price-amount amount"><span
                                        class="kaycee-Price-currencySymbol">Rs</span><%= item.discountedPrice %></span></ins></span>
                                <div class="kaycee-product-details__short-description">
                                    <%- item.description %>
                                    
                                </div>
                            </div>
                            <div class="group-button">
                                <div class="group-button-inner">
                                    <div class="add-to-cart">
                                        <a href="#" class="button product_type_variable add_to_cart_button">Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                       
                    <% }) %>
                </div>
            </div>
            
        </div>
    </div>
</div>
<%- include('footer') %>
<a href="#" class="backtotop active">
    <i class="flaticon-right-arrow"></i>
</a>
<script src="/assets/js/jquery-1.12.4.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/chosen.min.js"></script>
<script src="/assets/js/countdown.min.js"></script>
<script src="/assets/js/jquery.scrollbar.min.js"></script>
<script src="/assets/js/lightbox.min.js"></script>
<script src="/assets/js/magnific-popup.min.js"></script>
<script src="/assets/js/slick.js"></script>
<script src="/assets/js/jquery.zoom.min.js"></script>
<script src="/assets/js/threesixty.min.js"></script>
<script src="/assets/js/jquery-ui.min.js"></script>
<script src="/assets/js/mobilemenu.js"></script>
<script src="/assets/js/functions.js"></script>
<script>
    $(document).ready(function() {
           
        
            $('.addToCart').click(function(event){
                event.preventDefault();
                let size = $('.size-input').val()
                let price = $(this).attr("data-price")
                let name = $(this).attr("data-name")
                let productId = $(this).attr("data-id")
                

                if (size === '') {
                // Add a red border
                $('.size-input').css('border', '1px solid red');
                
                // Add a tooltip
                $('.size-input').attr('title', 'This field is required');
                return
            }

                let charm=$('.charm-input').val()
                let data
                if(charm !== undefined){
                    data = {productId,name,price, size, charm}
                }else{
                    data = {productId,name,price, size}
                }
                // console.log(data)
                // console.log($(this).attr("data-id"))
                $.ajax({
                    type: "POST",
                    url: window.location.origin + "/api/add-to-cart",
                    data: data,
                    success: ()=>{
                        location.reload();
                    },
                    });
            })
        });
    
    

</script>
</body>

</html>