<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/animate.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/chosen.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/pe-icon-7-stroke.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/jquery.scrollbar.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/lightbox.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/magnific-popup.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/fonts/flaticon.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/megamenu.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/dreaming-attribute.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
    <title>Product</title>
    <!-- <style>
        #header{
            margin-bottom: 120px;
        }
    </style> -->
</head>
<body class="single single-product">
    <%- include('header'); -%>
    <div class="banner-wrapper no_background" style="padding-top: 60px;">
        <div class="banner-wrapper-inner">
            <nav class="kaycee-breadcrumb"><a href="/">Home</a><i class="fa fa-angle-right"></i><a href="#">Shop</a>
                <i class="fa fa-angle-right"></i><%= product.name %>
            </nav>
        </div>
    </div>
<div class="single-thumb-vertical main-container shop-page no-sidebar" >
    <div class="container" >
        <div class="row">
            <div class="main-content col-md-12">
                <div class="kaycee-notices-wrapper"></div>
                <div id="product-27"
                     class="post-27 product type-product status-publish has-post-thumbnail product_cat-table product_cat-new-arrivals product_cat-lamp product_tag-table product_tag-sock first instock shipping-taxable purchasable product-type-variable has-default-attributes">
                    <div class="main-contain-summary">
                        <div class="contain-left has-gallery">
                            <div class="single-left">
                                <div class="kaycee-product-gallery kaycee-product-gallery--with-images kaycee-product-gallery--columns-4 images">
                                    <!-- <a href="#" class="kaycee-product-gallery__trigger">
                                        <img draggable="false" class="emoji" alt="🔍"
                                             src="https://s.w.org/images/core/emoji/11/svg/1f50d.svg"></a> -->
                                    <div class="flex-viewport">
                                        <figure class="kaycee-product-gallery__wrapper">
                                            <div class="kaycee-product-gallery__image">
                                                <img alt="img"
                                                     src="https://images.unsplash.com/photo-1561828995-aa79a2db86dd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8amV3ZWxyeXxlbnwwfHwwfHx8MA%3D%3D">
                                            </div>
                                            <div class="kaycee-product-gallery__image">
                                                <img src="https://images.unsplash.com/photo-1616837874254-8d5aaa63e273?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGpld2Vscnl8ZW58MHx8MHx8fDA%3D"
                                                     alt="img">
                                            </div>
                                            <div class="kaycee-product-gallery__image">
                                                <img src="https://images.unsplash.com/photo-1616837874254-8d5aaa63e273?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGpld2Vscnl8ZW58MHx8MHx8fDA%3D"
                                                     class="" alt="img">
                                            </div>
                                            
                                        </figure>
                                    </div>
                                    <ol class="flex-control-nav flex-control-thumbs">
                                        <li><img
                                                src="https://images.unsplash.com/photo-1561828995-aa79a2db86dd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8amV3ZWxyeXxlbnwwfHwwfHx8MA%3D%3D"
                                                alt="img">
                                        </li>
                                        <li><img
                                                src="https://images.unsplash.com/photo-1616837874254-8d5aaa63e273?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGpld2Vscnl8ZW58MHx8MHx8fDA%3D"
                                                alt="img">
                                        </li>
                                        <li><img
                                                src="https://images.unsplash.com/photo-1616837874254-8d5aaa63e273?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGpld2Vscnl8ZW58MHx8MHx8fDA%3D"
                                                alt="img">
                                        </li>
                                        
                                    </ol>
                                </div>
                            </div>
                            <div class="summary entry-summary">
                                <div class="flash">
                                    <span class="onnew"><span class="text">New</span></span></div>
                                <h1 class="product_title entry-title"><%= product.name %></h1>
                                <p class="price"><span
                                        class="kaycee-Price-amount amount"><span
                                        class="kaycee-Price-currencySymbol">Rs</span><%= product.discountedPrice %></span></p>
                                <p class="stock in-stock">
                                    Availability: <span><%= product.isAvailable?" In stock": "Out of Stock" %></span>
                                </p>
                                <div class="kaycee-product-details__short-description">
                                    <p><%- product.description %></p>
                                    <!-- <ul>
                                        <li>Water-resistant fabric with soft lycra detailing inside</li>
                                        <li>CLean zip-front, and three piece hood</li>
                                        <li>Subtle branding and diagonal panel detail</li>
                                    </ul> -->
                                </div>
                                
                                <form class="variations_form cart">
                                    <% if (product.charm) { %>
                                        <label for="">Sizes</label>
                                    &nbsp
                                    <label>
                                        <select class="option-perpage">
                                            <option value="12" selected="">
                                                Show 12
                                            </option>
                                            <option value="5">
                                                Show 05
                                            </option>
                                            <option value="10">
                                                Show 10
                                            </option>
                                            <option value="12">
                                                Show 12
                                            </option>
                                            <option value="15">
                                                Show 15
                                            </option>
                                            <option value="20">
                                                Show All
                                            </option>
                                        </select>
                                    </label>
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    <label for="">Charm Options</label>
                                    &nbsp;
                                   
                                    <label>
                                        <select class="option-perpage charm-option">
                                            <% product.charms.forEach(element => { %>
                                                <!-- <option value="" selected disabled>Choose Charm</option> -->
                                                <option value="<%= element.name %>">
                                                    <%= element.name %>   
                                                </option>
                                            <% }) %>
                                           
                                            
                                        </select>
                                    </label>
                                    <br><br>
                                        <% } %>
                                    <div class="single_variation_wrap">
                                        <div class="kaycee-variation single_variation"></div>
                                        <div class="kaycee-variation-add-to-cart variations_button ">
                                            <!-- <div class="quantity">
                                                <span class="qty-label">Quantiy:</span>
                                                <div class="control">
                                                    <a class="btn-number qtyminus quantity-minus" href="#">-</a>
                                                    <input type="text" data-step="1" min="0" max="" name="quantity[25]" value="0" title="Qty" class="input-qty input-text qty text" size="4" pattern="[0-9]*" inputmode="numeric">
                                                    <a class="btn-number qtyplus quantity-plus" href="#">+</a>
                                                </div>
                                            </div> -->
                                            <button type="submit" data-id="<%= product._id %>"
                                                    class="single_add_to_cart_button button alt kaycee-variation-selection-needed addToCart">
                                                Add to cart
                                            </button>
                                            <input name="add-to-cart" value="27" type="hidden">
                                            <input name="product_id" value="27" type="hidden">
                                            <input name="variation_id" class="variation_id" value="0" type="hidden">
                                        </div>
                                    </div>
                                </form>
                                
                                <div class="kaycee-share-socials">
                                    <h5 class="social-heading">Share: </h5>
                                    <a target="_blank" class="facebook" href="#">
                                        <i class="fa fa-facebook-f"></i>
                                    </a>
                                    <a target="_blank" class="twitter"
                                       href="#"><i class="fa fa-twitter"></i>
                                    </a>
                                    <a target="_blank" class="pinterest"
                                       href="#"> <i class="fa fa-pinterest"></i>
                                    </a>
                                    <a target="_blank" class="googleplus"
                                       href="#"><i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kaycee-tabs kaycee-tabs-wrapper">
                        <ul class="tabs dreaming-tabs" role="tablist">
                            <li class="description_tab active" id="tab-title-description" role="tab"
                                aria-controls="tab-description">
                                <a href="#tab-description">Description</a>
                            </li>
                            <li class="additional_information_tab" id="tab-title-additional_information" role="tab"
                                aria-controls="tab-additional_information">
                                <a href="#tab-additional_information">Additional information</a>
                            </li>
                            <!-- <li class="reviews_tab" id="tab-title-reviews" role="tab" aria-controls="tab-reviews">
                                <a href="#tab-reviews">Reviews (0)</a>
                            </li> -->
                        </ul>
                        <div class="kaycee-Tabs-panel kaycee-Tabs-panel--description panel entry-content kaycee-tab"
                             id="tab-description" role="tabpanel" aria-labelledby="tab-title-description">
                            <h2>Description</h2>
                            <div class="container-table">
                                <div class="container-cell">
                                    <h2 class="az_custom_heading">Platea viverra aenean<br>dictumst</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur elit
                                        scelerisque integer, quam dapibus per risus donec semper
                                        vulputate interdum, imperdiet mus rhoncus commodo ultricies
                                        class urna tincidunt. Imperdiet vitae lacus etiam metus ut nisl
                                        curae, conubia enim scelerisque quis facilisis torquent,
                                        ultricies orci faucibus dictumst mauris curabitur. Massa risus
                                        nec sociosqu fames montes accumsan iaculis justo turpis
                                        luctus</p>
                                </div>
                                <div class="container-cell">
                                    <div class="az_single_image-wrapper az_box_border_grey">
                                        <img src="/assets/images/single-pro1.jpg"
                                             class="az_single_image-img attachment-full" alt="img"></div>
                                </div>
                            </div>
                            <div class="container-table">
                                <div class="container-cell">
                                    <div class="az_single_image-wrapper az_box_border_grey">
                                        <img src="/assets/images/single-pro2.jpg"
                                            class="az_single_image-img attachment-full" alt="img"></div>
                                </div>
                                <div class="container-cell">
                                    <h2 class="az_custom_heading">
                                        Potenti praesent molestie<br>
                                        at viverra</h2>
                                    <p>This generator uses a dictionary of Latin words to construct
                                        passages of Lorem Ipsum text that meet your desired length. The
                                        sentence and paragraph durations and punctuation dispersal are
                                        calculated using Gaussian distribution, based on statistical
                                        analysis of real world texts. This ensures that the generated
                                        Lorem Ipsum text is unique, free of repetition and also
                                        resembles readable text as much as possible.</p>
                                </div>
                            </div>
                        </div>
                        <div class="kaycee-Tabs-panel kaycee-Tabs-panel--additional_information panel entry-content kaycee-tab"
                             id="tab-additional_information" role="tabpanel"
                             aria-labelledby="tab-title-additional_information">
                            <h2>Additional information</h2>
                            <table class="shop_attributes">
                                <tbody>
                                <tr>
                                    <th>Color</th>
                                    <td><p>Blue, Pink, Red, Yellow</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- <div class="kaycee-Tabs-panel kaycee-Tabs-panel--reviews panel entry-content kaycee-tab"
                             id="tab-reviews" role="tabpanel" aria-labelledby="tab-title-reviews">
                            <div id="reviews" class="kaycee-Reviews">
                                <div id="comments">
                                    <h2 class="kaycee-Reviews-title">Reviews</h2>
                                    <p class="kaycee-noreviews">There are no reviews yet.</p>
                                </div>
                                <div id="review_form_wrapper">
                                    <div id="review_form">
                                        <div id="respond" class="comment-respond">
                                            <span id="reply-title" class="comment-reply-title">Be the first to review “T-shirt with skirt”</span>
                                            <form id="commentform" class="comment-form">
                                                <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span>
                                                    Required fields are marked <span class="required">*</span></p>
                                                <p class="comment-form-author">
                                                    <label for="author">Name&nbsp;<span
                                                            class="required">*</span></label>
                                                    <input id="author" name="author" value="" size="30" required=""
                                                           type="text"></p>
                                                <p class="comment-form-email"><label for="email">Email&nbsp;
                                                    <span class="required">*</span></label>
                                                    <input id="email" name="email" value="" size="30" required=""
                                                           type="email"></p>
                                                <div class="comment-form-rating"><label for="rating">Your rating</label>
                                                    <p class="stars">
                                                        <span>
                                                        <a class="star-1" href="#">1</a>
                                                        <a class="star-2" href="#">2</a>
                                                        <a class="star-3" href="#">3</a>
                                                        <a class="star-4" href="#">4</a>
                                                        <a class="star-5" href="#">5</a>
                                                        </span>
                                                    </p>
                                                    <select title="product_cat" name="rating" id="rating" required=""
                                                            style="display: none;">
                                                        <option value="">Rate…</option>
                                                        <option value="5">Perfect</option>
                                                        <option value="4">Good</option>
                                                        <option value="3">Average</option>
                                                        <option value="2">Not that bad</option>
                                                        <option value="1">Very poor</option>
                                                    </select></div>
                                                <p class="comment-form-comment"><label for="comment">Your
                                                    review&nbsp;<span class="required">*</span></label><textarea
                                                        id="comment" name="comment" cols="45" rows="8"
                                                        required=""></textarea></p><input name="wpml_language_code"
                                                                                          value="en" type="hidden">
                                                <p class="form-submit"><input name="submit" id="submit" class="submit"
                                                                              value="Submit" type="submit"> <input
                                                        name="comment_post_ID" value="27" id="comment_post_ID"
                                                        type="hidden">
                                                    <input name="comment_parent" id="comment_parent" value="0"
                                                           type="hidden">
                                                </p></form>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 dreaming_related-product">
                <div class="block-title">
                    <h2 class="product-grid-title">
                        Related Products
                        <span></span>
                    </h2>
                </div>
                <div class=" equal-container better-height">
                     
                     <% relatedProducts.map(item=>{ %>

                        <div class="product-item wow fadeInUp product-item rows-space-30 col-bg-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-ts-6 style-01 post-28 product type-product status-publish has-post-thumbnail product_cat-light product_cat-chair product_cat-sofas product_tag-light product_tag-sock  instock sale featured shipping-taxable purchasable product-type-simple"
                        data-wow-duration="1s" data-wow-delay="0ms" data-wow="fadeInUp">
                        <div class="product-inner tooltip-left">
                            <div class="product-thumb">
                                <a class="thumb-link" href="/product/<%= item._id %>">
                                    <img class="img-responsive"
                                         src="/assets/images/apro1211-2-600x778.jpg"
                                         alt="Gold Bracelet" width="600" height="778">
                                </a>
                                <!-- <div class="flash">
                                    <span class="onsale"><span class="number">-14%</span></span>
                                    <span class="onnew"><span class="text">New</span></span></div> -->
                                <div class="group-button">
                                    <div class="add-to-cart">
                                        <a href="#"  data-id="<%= item._id %>" class="button product_type_simple add_to_cart_button addToCart">Add to
                                            cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-info equal-elem">
                                <h3 class="product-name product_title">
                                    <a href="#"><%= item.name %> <br> <strong><%= item.material %></strong></a>
                                </h3>
                                <span class="price"><del><span class="kaycee-Price-amount amount"><span
                                        class="kaycee-Price-currencySymbol">Rs</span><%= item.price %></span></del> <ins><span
                                        class="kaycee-Price-amount amount"><span
                                        class="kaycee-Price-currencySymbol">Rs</span><%= item.discountedPrice %></span></ins></span>
                                <div class="kaycee-product-details__short-description">
                                    <%- item.description %>
                                    
                                </div>
                            </div>
                            <div class="group-button">
                                <div class="group-button-inner">
                                    <div class="add-to-cart">
                                        <a href="#" class="button product_type_variable add_to_cart_button">Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                       
                    <% }) %>
                </div>
            </div>
            
        </div>
    </div>
</div>
<%- include('footer') %>
<a href="#" class="backtotop active">
    <i class="flaticon-right-arrow"></i>
</a>
<script src="/assets/js/jquery-1.12.4.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/chosen.min.js"></script>
<script src="/assets/js/countdown.min.js"></script>
<script src="/assets/js/jquery.scrollbar.min.js"></script>
<script src="/assets/js/lightbox.min.js"></script>
<script src="/assets/js/magnific-popup.min.js"></script>
<script src="/assets/js/slick.js"></script>
<script src="/assets/js/jquery.zoom.min.js"></script>
<script src="/assets/js/threesixty.min.js"></script>
<script src="/assets/js/jquery-ui.min.js"></script>
<script src="/assets/js/mobilemenu.js"></script>
<script src="/assets/js/functions.js"></script>
<script>
    $(document).ready(function() {
           
        
            $('.addToCart').click(function(event){
                event.preventDefault();
                // console.log($(this).attr("data-id"))
                $.ajax({
                    type: "POST",
                    url: window.location.origin + "/api/add-to-cart",
                    data: {productId:$(this).attr("data-id")},
                    success: ()=>{
                        // alert($(this).attr("data-id"))
                        location.reload();
                    },
                    });
            })
        });
    
    

</script>
</body>

</html>