<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/animate.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/chosen.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/pe-icon-7-stroke.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/jquery.scrollbar.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/lightbox.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/magnific-popup.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/fonts/flaticon.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/megamenu.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/dreaming-attribute.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
    <style>
        .product-info{
            margin-top: 12px;
            text-align: center;
        }
    </style>
    <title>Shop</title>
</head>
<body>
<%- include('header'); -%>
<div class="banner-wrapper has_background">
    <img src="/assets/images/banner-for-all2.jpg"
         class="img-responsive attachment-1920x447 size-1920x447" alt="img">
    <div class="banner-wrapper-inner">
        <div class="container kaycee-categories style-02">
            <div class="categories-list-owl owl-slick equal-container better-height"
                 data-slick="{&quot;arrows&quot;:false,&quot;slidesMargin&quot;:60,&quot;dots&quot;:false,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:6,&quot;rows&quot;:1}"
                 data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:5,&quot;slidesMargin&quot;:&quot;30&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:6,&quot;slidesMargin&quot;:&quot;40&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:6,&quot;slidesMargin&quot;:&quot;50&quot;}}]">
                <div class="categories-item rows-space-0 post-740 page type-page status-publish hentry">
                    <div class="categories-inner">
                        <figure class="categories-thumb">
                            <a href="#" tabindex="-1">
                                <img src="/assets/images/cat1.png"
                                     class="img-responsive attachment-370x370 size-370x370" alt="img"> </a>
                        </figure>
                        <h3 class="title">
                            <a href="#" tabindex="-1">
                                Earrings </a>
                        </h3>
                    </div>
                </div>
                <div class="categories-item rows-space-0 post-740 page type-page status-publish hentry">
                    <div class="categories-inner">
                        <figure class="categories-thumb">
                            <a href="#" tabindex="-1">
                                <img src="/assets/images/cat2.png"
                                     class="img-responsive attachment-370x370 size-370x370" alt="img"> </a>
                        </figure>
                        <h3 class="title">
                            <a href="#" tabindex="-1"> Pendants </a>
                        </h3>
                    </div>
                </div>
                <div class="categories-item rows-space-0 post-740 page type-page status-publish hentry">
                    <div class="categories-inner">
                        <figure class="categories-thumb">
                            <a href="#" tabindex="0">
                                <img src="/assets/images/cat3.png"
                                     class="img-responsive attachment-370x370 size-370x370" alt="img"> </a>
                        </figure>
                        <h3 class="title">
                            <a href="#" tabindex="0">
                                Bangles </a>
                        </h3>
                    </div>
                </div>
                <div class="categories-item rows-space-0 post-740 page type-page status-publish hentry">
                    <div class="categories-inner">
                        <figure class="categories-thumb">
                            <a href="#" tabindex="0">
                                <img src="/assets/images/cat4.png"
                                     class="img-responsive attachment-370x370 size-370x370" alt="img"> </a>
                        </figure>
                        <h3 class="title">
                            <a href="#" tabindex="0">
                                Finger Rings </a>
                        </h3>
                    </div>
                </div>
                <div class="categories-item rows-space-0 post-740 page type-page status-publish hentry">
                    <div class="categories-inner">
                        <figure class="categories-thumb">
                            <a href="#" tabindex="0">
                                <img src="/assets/images/cat5.png"
                                     class="img-responsive attachment-370x370 size-370x370" alt="img"> </a>
                        </figure>
                        <h3 class="title">
                            <a href="#" tabindex="0">
                                Chains </a>
                        </h3>
                    </div>
                </div>
                <div class="categories-item rows-space-0 post-740 page type-page status-publish hentry">
                    <div class="categories-inner">
                        <figure class="categories-thumb">
                            <a href="#" tabindex="0">
                                <img src="/assets/images/cat6.png"
                                     class="img-responsive attachment-370x370 size-370x370" alt="img"> </a>
                        </figure>
                        <h3 class="title">
                            <a href="#" tabindex="0">
                                Bracelets </a>
                        </h3>
                    </div>
                </div>
                <div class="categories-item rows-space-0 post-740 page type-page status-publish hentry">
                    <div class="categories-inner">
                        <figure class="categories-thumb">
                            <a href="#" tabindex="0">
                                <img src="/assets/images/cat7.png"
                                     class="img-responsive attachment-370x370 size-370x370" alt="img"> </a>
                        </figure>
                        <h3 class="title">
                            <a href="#" tabindex="0">
                                Pendant Set </a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h1 class="page-title">Shop</h1>
<div class="main-container shop-page no-sidebar">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12">
                <div class="shop-control shop-before-control">
                    <div class="grid-view-mode">
                        <form>
                            <a href="/shop" data-toggle="tooltip" data-placement="top"
                               class="modes-mode mode-grid display-mode active" value="grid">
                                <span class="button-inner">
                                    Shop Grid
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                            </a>
                            <a href="/shop" data-toggle="tooltip" data-placement="top"
                               class="modes-mode mode-list display-mode " value="list">
                                <span class="button-inner">
                                    Shop List
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                            </a>
                        </form>
                    </div>
                    <form class="kaycee-ordering" method="get">
                        <select id="sortSelect" title="product_cat" name="orderby" class="orderby">
                            <option value="menu_order" selected="selected">Sort By</option>
                            <option value="date">Sort by latest</option>
                            <option value="price">Sort by price: low to high</option>
                            <option value="-price">Sort by price: high to low</option>
                        </select>
                    </form>
                    <!-- <form class="per-page-form">
                        <label>
                            <select class="option-perpage">
                                <option value="12" selected="">
                                    Show 12
                                </option>
                                <option value="5">
                                    Show 05
                                </option>
                                <option value="10">
                                    Show 10
                                </option>
                                <option value="12">
                                    Show 12
                                </option>
                                <option value="15">
                                    Show 15
                                </option>
                                <option value="20">
                                    Show All
                                </option>
                            </select>
                        </label>
                    </form> -->
                </div>
                <div class=" auto-clear kaycee-products">
                    <ul class="row products columns-3">

                        <% items.map(item=>{ %>

                            <li class="product-item wow fadeInUp product-item rows-space-30 col-bg-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-ts-6 style-01 post-28 product type-product status-publish has-post-thumbnail product_cat-light product_cat-chair product_cat-sofas product_tag-light product_tag-sock  instock sale featured shipping-taxable purchasable product-type-simple"
                            data-wow-duration="1s" data-wow-delay="0ms" data-wow="fadeInUp">
                            <div class="product-inner tooltip-left">
                                <div class="product-thumb">
                                    <a class="thumb-link" href="/product/<%= item._id %>">
                                        <img class="img-responsive"
                                             src="/assets/images/apro1211-2-600x778.jpg"
                                             alt="Gold Bracelet" width="600" height="778">
                                    </a>
                                    <div class="flash">
                                        <span class="onsale"><span class="number">-14%</span></span>
                                        <span class="onnew"><span class="text">New</span></span></div>
                                    <!-- <a href="#" class="button yith-wcqv-button" data-product_id="24">Quick View</a> -->
                                    <div class="group-button">
                                        <!-- <div class="yith-wcwl-add-to-wishlist">
                                            <div class="yith-wcwl-add-button show">
                                                <a href="#" class="add_to_wishlist">Add to Wishlist</a>
                                            </div>
                                        </div> -->
                                        <!-- <div class="kaycee product compare-button">
                                            <a href="#" class="compare button">Compare</a>
                                        </div>
                                        <a href="#" class="button yith-wcqv-button">Quick View</a> -->
                                        <div class="add-to-cart">
                                            <a href="#"  data-id="<%= item._id %>" class="button product_type_simple add_to_cart_button addToCart">Add to
                                                cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-info equal-elem">
                                    <h3 class="product-name product_title">
                                        <a href="#"><%= item.name %> <br> (<%= item.material %>)</a>
                                    </h3>
                                    <!-- <div class="rating-wapper ">
                                        <div class="star-rating"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span>
                                        </div>
                                        <span class="review">(1)</span></div> -->
                                    <span class="price"><del><span class="kaycee-Price-amount amount"><span
                                            class="kaycee-Price-currencySymbol">Rs</span><%= item.price %></span></del> <ins><span
                                            class="kaycee-Price-amount amount"><span
                                            class="kaycee-Price-currencySymbol">Rs</span><%= item.discountedPrice %></span></ins></span>
                                    <div class="kaycee-product-details__short-description">
                                        <p><%= item.description %></p>
                                        <ul>
                                            <li>Water-resistant fabric with soft lycra detailing inside</li>
                                            <li>CLean zip-front, and three piece hood</li>
                                            <li>Subtle branding and diagonal panel detail</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="group-button">
                                    <div class="group-button-inner">
                                        <!-- <div class="yith-wcwl-add-to-wishlist">
                                            <div class="yith-wcwl-add-button show">
                                                <a href="#" class="add_to_wishlist">Add to Wishlist</a>
                                            </div>
                                        </div> -->
                                        <!-- <div class="kaycee product compare-button">
                                            <a href="#" class="compare button">Compare</a>
                                        </div>
                                        <a href="#" class="button yith-wcqv-button">Quick View</a> -->
                                        <div class="add-to-cart">
                                            <a href="#" class="button product_type_variable add_to_cart_button">Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                           
                        <% }) %>
                        
                        
                    </ul>
                </div>
                <!-- <div class="shop-control shop-after-control">
                    <nav class="kaycee-pagination">
                        <span class="page-numbers current">1</span>
                        <a class="page-numbers" href="#">2</a>
                        <a class="next page-numbers" href="#">Next</a>
                    </nav>
                    <p class="kaycee-result-count">Showing 1–12 of 20 results</p>
                </div> -->
            </div>
        </div>
    </div>
</div>
<%- include('footer'); -%>
<a href="#" class="backtotop active">
    <i class="flaticon-right-arrow"></i>
</a>

<script src="/assets/js/jquery-1.12.4.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/chosen.min.js"></script>
<script src="/assets/js/countdown.min.js"></script>
<script src="/assets/js/jquery.scrollbar.min.js"></script>
<script src="/assets/js/lightbox.min.js"></script>
<script src="/assets/js/magnific-popup.min.js"></script>
<script src="/assets/js/slick.js"></script>
<script src="/assets/js/jquery.zoom.min.js"></script>
<script src="/assets/js/threesixty.min.js"></script>
<script src="/assets/js/jquery-ui.min.js"></script>
<script src="/assets/js/mobilemenu.js"></script>
<script src="/assets/js/functions.js"></script>
<script>
    $(document).ready(function() {
            // Listen for the change event on the select input
            $('#sortSelect').change(function() {
                // Get the selected option's value
                // alert($(this).val())
                var selectedOptionValue = $(this).val();

                // Check if a valid URL is selected
                if (selectedOptionValue !== "") {
                    // Redirect to the selected URL
                    window.location.href = window.location.href.split('?')[0] + '?sort=' + selectedOptionValue;
                }
            });
        
            $('.addToCart').click(function(event){
                event.preventDefault();
                // console.log($(this).attr("data-id"))
                $.ajax({
                    type: "POST",
                    url: window.location.origin + "/api/add-to-cart",
                    data: {productId:$(this).attr("data-id")},
                    success: ()=>{
                        // alert($(this).attr("data-id"))
                        location.reload();
                    },
                    });
            })
        });
    
    

</script>
</body>

</html>